<div id="ApplicationWindowControl" class="grid-3">
	<a id="min-btn" href="#minimise">&#128469;</a>
	<a id="max-btn" href="#maximise">&#128470;</a>
	<a id="close-btn" href="#close">&#128473;</a>
</div>
<h1>
	<img title="Display Menu" src="../public/img/ShowCockpit.png" />&nbsp;<span><%= PageTitle %></span>
</h1>
<div class="flex-container">
	<aside class="w150p">
		<ul class="is-unstyled">
			<li><a href="Search" class="finder active">Search</a></li>
			<li><a href="Options" class="options">Options</a></li>
			<li><a href="Admin" class="admin">Admin</a></li>
		</ul>
	</aside>
	<div id="maincontent" class="flex-container">
