/* ScrollBar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: $scroll-off-showcockpit;
}

::-webkit-scrollbar-thumb {
    background-color: $scroll-on-showcockpit;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    &:hover {
        background-color: $text-color-showcockpit;  
    }
}