/*select {
    &:has(option:checked) {
	    background: linear-gradient(to right, #6b1816, #6b1816, #511210);
        font-weight: bolder;
    }
    &:has(option[value^=red]:checked) {
        background: linear-gradient(to right, red, darkred, red);
    }
    &:has(option[value^=green]:checked) {
        background: linear-gradient(to right, green, darkgreen, green);
    }
    &:has(option[value^=blue]:checked) {
        background: linear-gradient(to right, blue, darkblue, blue);
    }
    &:has(option[value^=white]:checked) {
        background: linear-gradient(to right, white, GhostWhite, white);
    }
    &:has(option[value^=amber]:checked) {
        background: linear-gradient(to right, Gold, GoldenRod , Gold);
    }
    &:has(option[value^=uv]:checked) {
        background: linear-gradient(to right, Navy, MidnightBlue , Navy);
    }
    &:has(option[value^=cyan]:checked) {
        background: linear-gradient(to right, cyan, darkcyan, cyan);
    }
    &:has(option[value^=magenta]:checked) {
        background: linear-gradient(to right, magenta, darkmagenta, magenta);
    }
    &:has(option[value^=yellow]:checked) {
        background: linear-gradient(to right, yellow, #cccc00, yellow);
    }
    &:has(option[value^=color]:checked) {
        background: linear-gradient(to left,red,orange,yellow,green,blue,cyan,indigo,violet);
    }
    &:has(option[value^=intensity]:checked) {
        background: linear-gradient(175deg, black 0%,black 50%,white 50%,white 100%);
    }
    &:has(option[value^=jem]:checked),
    &:has(option[value^=martin]:checked) {
        background: linear-gradient(to right, #A25800, #A25800, #612D06);
    }
}*/
@mixin SelectDataOption($list, $angle: 'to right') {
    background: linear-gradient(#{$angle}, #{to-string($list, ',')})!important;
    text-shadow: 2px 2px 1rem $black, -2px -2px 1rem $black, 2px -2px 1rem $black, -2px 2px 1rem $black;
}
select {
    text-align-last: center;
    &:not([data-option=any]):not([data-option=All]):not([data-option=SearchMode_Order_Exact]):not([data-option=DisplayMode_Full]):not([data-option=ParameterList_Common]):not([data-option=""]) {
        text-shadow: 2px 2px .2rem $black, -2px -2px .2rem $black, 2px -2px .2rem $black, -2px 2px .2rem $black;
        background: linear-gradient(to right, #6b1816, #6b1816, #511210);
        font-weight: bold;
        & optgroup {
            font-weight: lighter;
        }
    }
    &[data-option^=red] {
        $list : red, darkred, red;
        @include SelectDataOption($list);
    }
    &[data-option^=green] {
        $list : green, darkgreen, green;
        @include SelectDataOption($list);
    }
    &[data-option^=blue] {
        $list : blue, darkblue, blue;
        @include SelectDataOption($list);
    }
    &[data-option^=white] {
        $list : white, GhostWhite, white;
        @include SelectDataOption($list);
    }
    &[data-option^=amber] {
        $list : Gold, GoldenRod , Gold;
        @include SelectDataOption($list);
    }
    &[data-option^=uv] {
        $list : Navy, MidnightBlue , Navy;
        @include SelectDataOption($list);
    }
    &[data-option^=cyan] {
        $list : cyan, darkcyan, cyan;
        @include SelectDataOption($list);
    }
    &[data-option^=magenta] {
        $list : magenta, darkmagenta, magenta;
        @include SelectDataOption($list);
    }
    &[data-option^=yellow] {
        $list : yellow, #cccc00, yellow;
        @include SelectDataOption($list);
    }
    &[data-option^=color] {
        $list : red,orange,yellow,green,blue,cyan,indigo,violet;
        @include SelectDataOption($list, 'to left');
    }
    &[data-option^=intensity] {
        $list : 'black 0%','black 50%','white 50%','white 100%';
        @include SelectDataOption($list, '175deg');
    }
    &[data-option^=jem],
    &[data-option^=martin] {
        $list : #A25800, #A25800, #612D06;
        @include SelectDataOption($list);
    }
}