$AlphaBack : .9;
@mixin SelectDataOption($list, $angle: 'to right') {
    @if (type-of($list) == 'list') {
        background:
            linear-gradient(#{$angle}, #{to-string($list, ',')}), 
            url($Select_Arrow)!important;
    } @else {
        background:
            linear-gradient(#{$angle}, $list, darken($list, 10%), $list),
            url($Select_Arrow)!important;
    }
    text-shadow: 2px 2px 1rem $black, -2px -2px 1rem $black;
}
@mixin SelectDataOptionSVG($svg) {
    background:
        url('../img/svg/#{$svg}.svg'),
        url($Select_Arrow)!important;
}
div[data-option] {
    background-color:
        $orange-showcockpit,
        $orange-showcockpit;
    background-position:
        0 30px,
        18px 27px;
    background-size:
        18px 13px,
        18px 18px;
    background-repeat:
        no-repeat,
        no-repeat;
    &[data-option~=fine] {
        background-image:
            none,
            url('../img/svg/fine.svg');
        &[data-option~=rot] {
            background-image:
                url('../img/svg/rotation.svg'),
                url('../img/svg/fine.svg');
        }
    }
    &[data-option~=rot] {
        background-image:
            url('../img/svg/rotation.svg'),
            none;
    }
}
select {
    transition: background .5s;
    text-align-last: center;
    &:not([data-option=any]):not([data-option=all]):not([data-option=SearchMode_Order_Exact]):not([data-option=DisplayMode_Full]):not([data-option=ParameterList_Common]):not([data-option=""]) {
        text-shadow: 2px 2px .2rem $black, -2px -2px .2rem $black, 2px -2px .2rem $black, -2px 2px .2rem $black;
        background:
            linear-gradient(to right, $orange-showcockpit 0%, $orange-showcockpit 15%, transparent 15%, transparent 100%),
            url($Select_Arrow);
        font-weight: bold;
        background-position:
            left center,
            right .6rem center!important;
        background-size:
            32px 32px,
            1.2rem!important;
        background-repeat:
            no-repeat,
            no-repeat!important;
        text-align-last: left;
        padding-left: 40px;
        & optgroup {
            font-weight: lighter;
        }
    }
    &[data-option^=pan] {
        @include SelectDataOptionSVG('pan');
    }
    &[data-option^=tilt] {
        @include SelectDataOptionSVG('tilt');
    }
    &[data-option^=strobe] {
        @include SelectDataOptionSVG('strobe');
    }
    &[data-option^=gobo] {
        @include SelectDataOptionSVG('wheel');
    }
    &[data-option^=prism] {
        @include SelectDataOptionSVG('prism');
    }
    &[data-option^=red] {
        @include SelectDataOption(rgba(#ff0000, $AlphaBack));
    }
    &[data-option^=green] {
        @include SelectDataOption(rgba(#008000, $AlphaBack));
    }
    &[data-option^=blue] {
        @include SelectDataOption(rgba(#0000ff, $AlphaBack));
    }
    &[data-option^=white] {
        @include SelectDataOption(#ffffff);
    }
    &[data-option^=amber] {
        @include SelectDataOption(#ffd700);
    }
    &[data-option^=uv] {
        @include SelectDataOption(rgba(#191970, $AlphaBack));
    }
    &[data-option^=cyan] {
        @include SelectDataOption(rgba(#00ffff, $AlphaBack));
    }
    &[data-option^=magenta] {
        @include SelectDataOption(rgba(#ff00ff, $AlphaBack));
    }
    &[data-option^=yellow] {
        @include SelectDataOption(#ffff00);
    }
    &[data-option^=color] {
        $list : red,orange,yellow,green,blue,cyan,indigo,violet;
        @include SelectDataOption($list, 'to right');
    }
    &[data-option^=intensity] {
        @include SelectDataOptionSVG('intensity');
    }
    &[data-option^=jem],
    &[data-option^=martin] {
        @include SelectDataOption(#cf7c00);
    }
    &[data-option~=speed] {
        @include SelectDataOptionSVG('speed');
    }
}