@import "partials/_windowscontrol";
@import "partials/_asidemenu";
@import "partials/_scrollbar";

/* Body */
body {
    user-select: none;
    background-color: $Body_backgroundcolor;
    color: $Body_color;
    border-top: 5px solid $orange-showcockpit;
    overflow: hidden;
    /* Header */
    &>h1 {
        -webkit-app-region: drag;
        font-size: 150%;
        font-weight: lighter;
        font-family: inherit;
        margin: 1rem;
        margin-right: 8rem;
        height: 5rem;
        line-height: 3.8rem;
        &>img {
            height: 32px;
            width: 32px;
        }
    }
}

/* Main Block */
.btn-bar-action {
	margin-top: 1rem;
	position: absolute;
	top: 70px;
}
.bordered {
	margin-top: 7rem;
	margin-right: .5rem;
	border: 2px solid $border-color-showcockpit;
	overflow-y: scroll;
	height: 75vh;
	min-width: 214px;
}
.sticky {
    position: sticky;
    top: 0;
}
.modal {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: rgba($black, .8);
    &>div {
        $ModalFixedHeight : 150px;
        position: relative;
        height: $ModalFixedHeight;
        background-color: $border-color-showcockpit;
        line-height: $ModalFixedHeight;
        top: calc((100% - #{$ModalFixedHeight}) / 2 );
        color: $white;
        &>div {
            vertical-align: middle;
            line-height: 2rem;
            display: inline-block;
        }
    }
}

/* Other */
.hide {
    display: none;
}