	<!-- views/partials/head.ejs -->
	<meta charset="UTF-8">
	<title><%= PageTitle %></title>
	<link rel="shortcut icon" href="../dist/img/favicon.ico" />
	<link rel="icon" type="image/icon" href="../dist/img/favicon.ico" />

	<link type="text/css" rel="stylesheet" href="../dist/css/css.min.css" />
